# local에서 사용하는 .env (.gitignore)
# 인텔리제이에서 EnvFile 플러그인 설치 후 Edit Configuration -> Enable EnvFile, + 눌러서 .env 추가
# 배포할 경우 Github Secret에 ENV로 추가 필요

# [데이터베이스]
DB_USERNAME=user
DB_PASSWORD=1234
DB_URL=jdbc:mysql://localhost:3306/teumteumeat

REDIS_HOST=localhost
REDIS_HOST=6379

# [인증/보안]
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME=3600000
JWT_REFRESH_TOKEN_EXPIRATION_TIME=604800000
JWT_REFRESH_TOKEN_REISSUE_LIMIT_DAYS=4

APP_ENCRYPTION_KEY=

# [소셜 로그인]
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_ADMIN_KEY=
KAKAO_SECRET=

GOOGLE_CLIENT_ID=1234-1wrdf342.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_KEY_PATH=file:configs/AuthKey.p8

# [인프라]
SWAGGER_SERVER_URL=http://localhost:8080

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_S3_BUCKET=
AWS_LAMBDA_AUTH_TOKEN=

OPENAI_API_KEY=

BASE_URL=http://localhost:8080
MAIN_PAGE=/api/v1/users/auth/success
LOGIN_FAIL_PAGE=/api/v1/test/failure
LOCAL_URL=http://localhost:3000
LOCAL_SECURE_URL=https://localhost:3000

DOCKER_COMPOSE_DIR=/home/ubuntu